<div id="slide">

    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/img/slide/slider_1.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/slide/slider_2.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/slide/slider_3.jpg" alt="">
        </div>

    </div>
</div>
<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="main-img">
                    <img src="assets/img/logo/store_policy_1.jpg" alt="">

                </div>
                <b>Miễn phí giao hàng</b><br>
                <p>Với hóa đơn chỉ từ 500.000đ</p>
            </div>
            <div class="col-lg-3">
                <div class="main-img">
                    <img src="assets/img/logo/store_policy_2.jpg" alt="">
                </div>
                <b>7 NGÀY ĐỔI SẢN PHẨM</b><br>
                <p>Đổi sản phẩm trong vòng 7 ngày</p>
            </div>
            <div class="col-lg-3">
                <div class="main-img">
                    <img src="assets/img/logo/store_policy_3.jpg" alt="">
                </div>
                <b>MUA HÀNG (09H00 - 22H00, T2 - CN)</b><br>
                <p>Hotline Mua hàng 1900 252520</p>
            </div>
            <div class="col-lg-3">
                <div class="main-img">
                    <img src="assets/img/logo/store_policy_4.jpg" alt="">
                </div>
                <b>HỆ THỐNG CỬA HÀNG</b><br>
                <p>4 cửa hàng trên toàn hệ thống</p>
            </div>
        </div>
    </div>
</main>