<footer>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-content">

                    <div class="footer-customer">
                        <p><b>Khách Hàng</b></p>
                        <a href="" title=" Giỏ hàng">Giỏ hàng</a><br>
                        <a href="" title="Đăng ký">Đăng ký</a><br>
                        <a href="" title="Đăng nhập">Đăng nhập</a><br>
                        <a href="" title="Kiểm tra đơn hàng">Kiểm tra đơn hàng</a>
                    </div>
                    <div class="footer-information">
                        <p><b>Thông tin</b></p>
                        <a href="" title="Chính sách bảo mật">Chính sách bảo
                            mật</a><br>
                        <a href="" title="Chính sách vận chuyển">Chính sách vận
                            chuyển</a><br>
                        <a href="" title="Chính sách đổi trả">Chính sách đổi
                            trả</a><br>
                        <a href="" title="Quy định sử dụng">Quy định sử dụng</a>
                    </div>

                    <div class="footer-ecommerce">
                        <p><b>Sàn TMĐT</b></p>
                        <a href="" title="Shopee Hồ Chí Minh">Shopee Hồ Chí
                            Minh</a><br>
                        <a href="" title="Shopee Hà Nội">Shopee Hà Nội</a><br>
                        <a href="" title="Shopee Đà Nẵng">Shopee Đà Nẵng</a><br>
                        <a href="" title="Lazada - LazMall">Lazada - LazMall</a>
                    </div>
                </div>

                <div class="footer-paymentmethod">
                    <p>Phương Thức Thanh Toán &ensp; </p>
                    <div>
                        <img src="assets/img/footer/payment_1.svg" alt="">
                        <img src="assets/img/footer/payment_2.svg" alt="">
                        <img src="assets/img/footer/momoyg.jpg" alt="">
                        <img src="assets/img/footer/png.jpg" alt="">
                    </div>
                </div>
                <div class="footer-paymentmethods">
                    <img src="assets/img/footer/bct.jpg" alt=""
                        style="border:1px solid; border-radius: 50px; width: 180px; height: 60px;">
                    <img src="assets/img/footer/rappodsll.jpg" alt="">
                    <img src="assets/img/footer/san-tmdt.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="footer-contents ">
                    <p><b>KẾT NỐI VỚI YOUNG GREEN</b></p>
                    <span>Địa chỉ:</span><br>
                    <span>718 Cách Mạng Tháng 8, Tân Bình, HCM</span><br>
                    <span>95A Nguyễn Trọng Tuyển, Phú Nhuận, HCM</span><br>
                    <span>180 Đông Các, Đống Đa, Hà Nội</span><br>
                    <span>488 Hoàng Diệu, Đà Nẵng</span><br>
                    <span>Điện thoại: 1900 252520</span><br>
                    <br>

                    <div class="icon-link">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-twitter"></i></a>


                    </div>
                    <div class="footer-form">

                        <p> <b>ĐĂNG KÝ NHẬN TIN TỪ YOUNG GREEN </b></p>
                        <form action="" class="form-receiveinformation">
                            <input type="email" name="" id="" placeholder="Nhập Email của bạn" class="ip-email">
                            <button type="submit" class="sb-regiter">Đăng
                                ký</button>
                        </form>
                    </div>
                </div>



            </div>
        </div>


    </div>

</footer>